* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeInAnimation ease 2s;
    animation: fadeOutAnimation ease 2s;
    animation-fill-mode: forwards;
    transition: all 2s ease-in-out;
}

body {
    background-image: url('./assets/video-bg.mp4');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

header {
    padding: 20px;
    background-image: url('./assets/bg-header.png');
    background-size: 100vw 30vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

.nav-right a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo-lattes {
    width: 35px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.nav-right:hover {
    font-size: 18px;
}

nav .nav-left a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 102, 255);
    font-size: 20px;
    position: relative;
    background-color: #fff;
    padding: 0 5px;
}

nav .nav-left a:hover {
    background-color: rgb(0, 0, 0);
    font-size: 22px;
}

nav .nav-left a:active {
    opacity: 0.3;
}

.a-logo-header {
    width: 120px;
    height: 120px;
    margin-top: 50px;
    border-radius: 50%;
    background-image: url('./assets/MRA2024.jpg');
    background-size: cover;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    z-index: 999;
}

.a-logo-header:hover {
    background-image: url('./assets/MRA2024.gif');
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.7);
    width: 75%;
    margin: 0 auto 200px auto;
    padding: 0px;
    border-radius: 30px;
    position: relative;
}

.main-cursos {
    display: flex;
    width: 100%;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding: 0px 50px 150px;
    margin-bottom: 150px;
    margin-top: -40px;
}

.main-film {
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-left: 9%;
    margin-bottom: 150px;
    margin-top: -40px;
    padding: 0px 30px 150px;
}

.curso1 {
    background-color: rgba(255, 253, 232, 0.7);
}

.curso2 {
    background-color: rgba(233, 235, 255, 0.7);
}

.curso3 {
    background-color: rgba(255, 229, 229, 0.7);
}

.curso4 {
    background-color: rgba(217, 255, 242, 0.7);
}

.curso {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 25px;
    text-align: center;
    width: 800px;
    height: 670px;
}

.film {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 25px;
    text-align: center;
    width: 80%;
    height: 500px;
}

.aulas {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 25px;
    text-align: center;
    width: 80%;
    height: 775px;
}

.curso .div-txt,
.film .div-txt,
.aulas .div-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.curso ul,
.film ul,
.aulas ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.curso span,
.film span,
.aulas span {
    font-weight: 900;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-align: center;
    text-decoration: none;
    padding: 25px 100px 50px;
    margin-bottom: 110px;
}

.link-curso {
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 15px;
    position: relative;
}

.link-filmagem {
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 15px;
    position: relative;
}

.nados {
    width: 200px;
}

.saidas {
    width: 100px;
}

.viradas {
    width: 80px;
}

.link-aula {
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 15px;
    position: relative;
}

.bg-img {
    width: 400px;
    border-radius: 0 0 20px 20px;
}

.btn-awr {
    position: absolute;
    right: 0;
    bottom: 0;
}

.logo-arw {
    width: 100px;
}

.logo-arw:hover {
    width: 110px;
}

.container-left {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 100px;
    margin: 0 auto;
}

.container-left h1 {
    font-size: 50px;
}

.container-left h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.container-left h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.span-h3 {
    font-weight: 100;
    font-size: 24px;
}

.container-left h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-left p {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
}

.span-p {
    font-weight: 900;
}

.container-p {
    width: 550px;
}

.mentoria {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-p h5 {
    font-size: 25px;
    margin-top: 30px;
}

.span-title {
    font-size: 15px;
    font-weight: 100;
}

.container-left .p-incluso {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.box-btn {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-curso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.btn-wpp {
    text-decoration: none;
    background-color: rgb(0, 0, 55);
    padding: 5px 7px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.btn-wpp:hover {
    background-color: rgb(0, 0, 113);
    padding: 7px 10px;
}

.btn-wpp:active {
    opacity: 0.8;
}

.container-right-img {
    width: 710px;
    margin-bottom: -5px;
    border-radius: 0 30px 30px 0;
}

iframe {
    width: 710px;
    height: 600px;
    margin-bottom: -5px;
    border-radius: 0 30px 30px 0;
}

footer {
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 55, 0.8);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px;
    margin-top: 125px;
}

.share {
    display: flex;
    gap: 10px;
}

footer a img:hover {
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in-out;
}

footer p {
    font-size: 12px;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -99;
}

.form-mask {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 99;
}

.form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 35%;
    left: -350px;
    padding: 20px;
    border-radius: 20px;
    z-index: 999;
    transition: 0.4s ease-in-out;
}

input {
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: gray;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    padding-top: 5px;
    outline-color: gray;
}

.btn-form {
    text-decoration: none;
    background-color: rgb(0, 0, 55);
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn-form:hover {
    background-color: rgb(0, 0, 113);
    font-size: 18px;
}

.btn-form:active {
    opacity: 0.8;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transition: all 1s;
}

.main-cursos :nth-child(2),
.main-film :nth-child(2) {
    transition-delay: 400ms;
}

.main-cursos :nth-child(3) {
    transition-delay: 700ms;
}

.main-film :nth-child(4) {
    transition-delay: 400ms;
}

.main :nth-child(2) {
    transition-delay: 400ms;
}

.main :nth-child(3) {
    transition-delay: 700ms;
}

.main .a-btn {
    text-decoration: none;
    background-color: rgb(0, 0, 55);
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 130px;
    margin: 0 auto;
    transition-delay: 0ms;
}

.main .a-btn:hover {
    background-color: rgb(0, 0, 113);
    font-size: 18px;
}

.main .a-btn:active {
    opacity: 0.8;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
    }
}


@media screen and (max-width: 1600px) {

    header {
        margin-bottom: 0px;
    }

    .a-logo-header {
        width: 100px;
        height: 100px;
        margin-top: 25px;
    }

    main {
        width: 95%;
    }

    .main-cursos,
    .main-film {
        gap: 20px;
        align-items: self-start;
        margin-top: 20px;
    }

    .curso {
        height: auto;
    }

    .film {
        height: auto;
    }

    .aulas {
        height: auto;
    }

    .main {
        gap: 15px;
    }

    .container-left {
        padding: 0px 0px;
    }

    .container-left h1 {
        font-size: 38px;
    }

    .container-left h2 {
        font-size: 28px;
    }

    .container-left h3 {
        font-size: 20px;
    }

    .container-left h4 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .logo-lattes {
        width: 20px;
    }

    .logo-lattes:hover {
        width: 25px;
    }

    .container-left p {
        font-size: 14px;
    }

    .container-p {
        width: 500px;
    }

    .container-left .p-incluso {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn-curso a {
        font-size: 10px;
    }

    .container-right-img {
        height: 100%;
        margin-left: -10px;
    }

    iframe {
        width: 550px;
        height: 500px;
        margin-bottom: -4px;
    }

    .container-right p {
        font-size: 12px;
    }

    footer {
        height: 75px;
        gap: 5px;
        padding: 10px;
        margin-top: 30px;
    }

    footer a img {
        width: 20px;
        height: 20px;
    }

    footer a img:hover {
        width: 25px;
        height: 25px;
    }

    footer p {
        font-size: 10px;
    }

    .form {
        top: 25%;
    }
}

@media screen and (max-width: 1030px) {
    .nav-left {
        display: none;
    }

    header {
        background-size: 100vw 20vh;
    }

    nav {
        justify-content: center;
        margin-top: 25%;
    }

    main {
        width: 700px;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .main-cursos,
    .main-film {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin-top: 100px;
    }

    .main-film {
        margin-left: 5%;
    }

    .curso,
    .film,
    .aulas {
        width: 700px;
    }

    .main {
        margin: 75px auto;
        gap: 50px;
        flex-direction: column;
    }

    .container-left {
        padding: 10px 50px;
    }

    .container-left h1 {
        font-size: 50px;
    }

    .container-left h2 {
        font-size: 35px;
    }

    .container-left h3 {
        font-size: 20px;
    }

    .container-left h4 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .logo-lattes {
        width: 35px;
        transition: 0.3s;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: -2px;
    }

    .logo-lattes:hover {
        width: 38px;
        height: auto;
    }

    .container-left p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .container-p {
        width: 500px;
    }

    .container-left .p-incluso {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn-curso a {
        font-size: 20px;
    }

    .container-right-img {
        width: 700px;
        margin-left: 0;
        border-radius: 0 0 30px 30px;
    }

    iframe {
        width: 700px;
        height: 550px;
        margin-bottom: -5px;
        border-radius: 0 0 30px 30px;
    }

    footer {
        height: 100px;
        padding: 15px;
        margin-top: 20px;
    }

    footer a img {
        width: 35px;
        height: 35px;
        transition: 0.3s ease-in-out;
    }

    footer a img:hover {
        width: 40px;
        height: 40px;
        transition: 0.3s ease-in-out;
    }

    footer p {
        font-size: 12px;
    }

    .form {
        top: 35%;
    }

    .main-cursos :nth-child(2),
    .main-film :nth-child(2) {
        transition-delay: 0ms;
    }

    .main-cursos :nth-child(3),
    .main-film :nth-child(3) {
        transition-delay: 0ms;
    }

    .main-cursos :nth-child(4),
    .main-film :nth-child(4) {
        transition-delay: 0ms;
    }

    .main :nth-child(2) {
        transition-delay: 0ms;
    }

    .main :nth-child(3) {
        transition-delay: 0ms;
    }
}

@media screen and (max-width: 500px) {


    .a-logo-header {
        width: 80px;
        height: 80px;
    }

    nav {
        padding: 0 10px;
    }

    .nav-right {
        margin-top: 25%;
    }

    .nav-right a {
        font-size: 14px;
    }

    .logo-lattes {
        width: 30px;
    }

    main {
        width: 400px;
        margin-bottom: 50px;
        margin-top: 75px;
    }

    .curso,
    .film,
    .aulas {
        width: 375px;
    }

    .container-left {
        padding: 10px 10px;
    }

    .container-left h1 {
        font-size: 40px;
    }

    .container-left h2 {
        font-size: 25px;
    }

    .container-left h4 {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .container-left p {
        font-size: 15px;
    }

    .container-p {
        width: 350px;
    }

    .container-left .p-incluso {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn-curso a {
        font-size: 20px;
    }

    .container-right-img {
        width: 400px;
        border-radius: 0 0 30px 30px;
    }

    iframe {
        width: 400px;
        height: 200px;
        margin-bottom: -5px;
        border-radius: 0 0 30px 30px;
    }

    footer {
        height: 100px;
        padding: 15px;
        margin-top: 20px;
    }

    footer a img {
        width: 35px;
        height: 35px;
        transition: 0.3s ease-in-out;
    }

    footer a img:hover {
        width: 40px;
        height: 40px;
        transition: 0.3s ease-in-out;
    }

    footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {

    main {
        width: 350px;
    }

    .container-p {
        width: 330px;
    }

    .container-right-img {
        width: 350px;
    }

    iframe {
        width: 350px;
        height: 200px;
    }

    .bg-img {
        width: 350px;
    }
}