* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/video-bg.mp4');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

header {
    padding: 20px;
    background-image: url('./assets/bg-header.png');
    background-size: 100vw 30vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

header img {
    width: 120px;
    margin-top: 50px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.7);
    width: 70%;
    margin: 0 auto;
    padding: 0px;
    border-radius: 30px;
    position: relative;
}

.container-left {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 50px;
    margin: 0 auto;
}

.container-left h1 {
    font-size: 50px;
}

.container-left h2 {
    font-size: 35px;
}

.container-left h4 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.logo-lattes {
    width: 35px;
    transition: 0.3s;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: -2px;
}

.logo-lattes:hover {
    width: 38px;
    height: auto;
}

.container-left p {
    font-size: 20px;
    margin-bottom: 10px;
}

.container-p {
    width: 500px;
}

.container-left .p-incluso {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-curso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.btn-curso .btn-wpp {
    text-decoration: none;
    background-color: rgb(0, 0, 55);
    padding: 5px 7px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.btn-curso .btn-wpp:hover {
    background-color: rgb(0, 0, 113);
}

.btn-curso .btn-wpp:active {
    opacity: 0.8;
}

.container-right img {
    width: 650px;
    margin-bottom: -5px;
    border-radius: 0 30px 30px 0;
}

.container-right p {
    position: absolute;
    right: 15px;
    bottom: 5px;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 55, 0.8);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
}

.share {
    display: flex;
    gap: 10px;
}

footer a img:hover {
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in-out;
}

footer p {
    font-size: 12px;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -99;
}

.form-mask {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 99;
}

.form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 35%;
    left: -350px;
    padding: 20px;
    border-radius: 20px;
    z-index: 999;
    transition: 0.4s ease-in-out;
}

input {
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: gray;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    padding-top: 5px;
    outline-color: gray;
}

.btn-form {
    text-decoration: none;
    background-color: rgb(0, 0, 55);
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn-form:hover {
    background-color: rgb(0, 0, 113);
}

.btn-form:active {
    opacity: 0.8;
}

@media screen and (max-width: 1600px) {

    header {
        margin-bottom: 0px;
    }

    header img {
        width: 80px;
        margin-top: 25px;
    }

    main {
        width: 70%;
    }

    .container-left {
        padding: 10px 0px;
    }

    .container-left h1 {
        font-size: 40px;
    }

    .container-left h2 {
        font-size: 30px;
    }

    .container-left h3 {
        font-size: 22px;
    }

    .container-left h4 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .logo-lattes {
        width: 20px;
    }

    .logo-lattes:hover {
        width: 25px;
    }

    .container-left p {
        font-size: 14px;
    }

    .container-p {
        width: 450px;
    }

    .container-left .p-incluso {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn-curso a {
        font-size: 10px;
    }

    .container-right img {
        width: 480px;
        margin-left: -10px;
    }

    .container-right p {
        font-size: 12px;
    }

    footer {
        height: 75px;
        gap: 5px;
        padding: 10px;
        position: relative;
        margin-top: 30px;
    }

    footer a img {
        width: 20px;
        height: 20px;
    }

    footer a img:hover {
        width: 25px;
        height: 25px;
    }

    footer p {
        font-size: 10px;
    }

    .form {
        top: 25%;
    }
}

@media screen and (max-width: 1030px) {
    header {
        margin-bottom: 0px;
        background-size: 100vw 0vh;
    }

    header img {
        width: 110px;
        margin-top: 15px;
    }

    main {
        width: 700px;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .container-left {
        padding: 10px 50px;
    }

    .container-left h1 {
        font-size: 50px;
    }

    .container-left h2 {
        font-size: 35px;
    }

    .container-left h3 {
        font-size: 20px;
    }

    .container-left h4 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .logo-lattes {
        width: 35px;
        transition: 0.3s;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: -2px;
    }

    .logo-lattes:hover {
        width: 38px;
        height: auto;
    }

    .container-left p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .container-p {
        width: 500px;
    }

    .container-left .p-incluso {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn-curso a {
        font-size: 20px;
    }

    .container-right img {
        width: 700px;
        border-radius: 0 0 30px 30px;
    }

    .container-right p {
        right: 20px;
        bottom: 10px;
        font-size: 15px;
    }

    footer {
        height: 100px;
        padding: 15px;
        margin-top: 20px;
        position: absolute;
    }

    footer a img {
        width: 35px;
        height: 35px;
        transition: 0.3s ease-in-out;
    }

    footer a img:hover {
        width: 40px;
        height: 40px;
        transition: 0.3s ease-in-out;
    }

    footer p {
        font-size: 12px;
    }

    .form {
        top: 35%;
    }
}

@media screen and (max-width: 830px) {

    footer {
        position: relative;
    }
}

@media screen and (max-width: 500px) {


    header img {
        width: 80px;
    }

    main {
        width: 370px;
        margin-bottom: 50px;
    }

    .container-left {
        padding: 10px 10px;
    }

    .container-left h1 {
        font-size: 40px;
    }

    .container-left h2 {
        font-size: 25px;
    }

    .container-left h4 {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .container-left p {
        font-size: 15px;
    }

    .container-p {
        width: 350px;
    }

    .container-left .p-incluso {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn-curso a {
        font-size: 20px;
    }

    .container-right img {
        width: 370px;
        border-radius: 0 0 30px 30px;
    }

    .container-right p {
        right: 20px;
        bottom: 10px;
        font-size: 15px;
    }

    footer {
        height: 100px;
        padding: 15px;
        margin-top: 20px;
    }

    footer a img {
        width: 35px;
        height: 35px;
        transition: 0.3s ease-in-out;
    }

    footer a img:hover {
        width: 40px;
        height: 40px;
        transition: 0.3s ease-in-out;
    }

    footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {

    main {
        width: 350px;
    }

    .container-p {
        width: 330px;
    }


    .container-right img {
        width: 350px;
    }


}